.app-container {
  display: flex;
  flex-direction: column;
}

.article_and_sidebar_container {
  display: flex;
  padding: 3vw;
  justify-content: space-evenly;
  gap: 2rem;
}

.Whats_Hot_container {
  background-color: #181818cf;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  color: #b6b6b6;
  height: 75vh;
  width: 40vw;
  position: sticky;
  top: 20vh;
}

.Whats_Hot_container h3 {
  color: #f06739;
  border-bottom: 1.5px solid #353535;
  padding-bottom: 1vh;
}

.Whats_Hot_container ul {
  list-style-type: none;
}

.Whats_Hot_container ul li a {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  margin-bottom: 0.5rem;
}

.Whats_Hot_container ul li a:hover {
  color: #ffffff;
}

.Whats_Hot_container img {
  width: 69px;
  height: 60px;
  margin: 0.5rem;
  position: relative;
  border-radius: 0.15rem;
}

.article-detail {
  padding: 2rem;
  background-color: #1f1f1f;
  border-radius: 0.5rem;
  width: 80%;
}

.article-header {
  font-size: min(1.5rem, 3vw);
  text-align: center;
}

.article-title {
  font-weight: bold;
  color: #f06739;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 1.5px solid white;
  padding: 0 1.5rem 1.5rem;
}

.article-meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #cccccc;
  font-size: min(1rem, 3.5vw);
  margin: auto;
  margin-bottom: 1rem;
}

.article-views {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-views svg {
  margin-left: 5px;
}

.article-content {
  color: #ffffff;
  line-height: 1.8;
  font-size: min(1rem, 3.5vw);
  margin: 0 min(2rem, 3vw);
}

.article-content p img,
.article-content img {
  max-width: 70%;
  display: block;
  height: auto;
  margin: 1rem auto;
  border-radius: 0.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.article-content .hidden-img {
  display: none;
}

.embed-youtube {
  display: block;
  position: relative;
  width: 90%;
  margin: 4vh auto;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
}

.spotify-iframe {
  display: block;
  width: 90%;
  margin: auto;
  height: 90px;
}

.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-content p {
  margin: 1rem 0;
  /* text-indent: 2rem; */
}

.article-content a {
  color: #f06739;
  transition: color 0.3s ease;
}

.article-content a:hover {
  color: #c7491f;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  color: #f06739;
  font-weight: 600;
}

.next-prev-container {
  display: flex;
  justify-content: space-between;
}

.next-prev-container a {
  text-align: center;
  background: none;
  border: none;
  color: white;
  background-color: #f06739;
  font-size: min(0.75rem, 2.6vw);
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
  margin: 1rem 1rem 0rem;
}

.next-prev-container abbr {
  text-decoration: none;
}

/* Card styles for suggested articles */

.suggested-articles {
  display: flex;
  flex-direction: column;
}

.suggested-articles .section-title {
  font-size: min(2.5rem, 8vw);
  margin: 1vh 2vw 3vh;
  letter-spacing: -1.5px;
}

.famous-articles-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2vw;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: min(1.1rem, 4.3vw);
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 1rem 0 0;
  font-size: min(0.9rem, 3.4vw);
  color: #777;
}

.card {
  position: relative;
  width: max(27vw, 300px);
  min-height: 35vh;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0 0.5vw;
  background-color: #f2f2f2;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  /* left: 0; */
}

.card__content .read-more-button {
  width: fit-content;
}

@media screen and (max-width: 850px) {
  .Whats_Hot_container {
    width: 90%;
    margin: auto;
    height: initial;
  }

  .Whats_Hot_container ul li a {
    flex-direction: row;
  }
  .article-detail {
    width: 90%;
    margin: auto;
    padding: 1.5rem;
  }

  .article-title {
    padding: 0 0 1rem;
  }

  .famous-articles-grid {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .card {
    margin: 0 auto;
    /* height: 95vh; */
  }

  .card:hover {
    transform: none;
  }

  .next-prev-container button {
    min-width: fit-content;
  }
}

@media screen and (max-width: 500px) {
  .article_and_sidebar_container {
    flex-direction: column;
  }
}
