#all-articles {
  flex: 3;
}

.pagination-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  align-self: center;
  flex-wrap: wrap;
}

.pagination-button {
  background-color: #2a2a2a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  margin: 5px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.pagination-button.active {
  color: #f06739;
}

.pagination-button:hover,
.pagination-button.active:hover {
  color: #fff;
  background-color: #f06739;
  transform: translateY(-2px);
}

.pagination-prev-button,
.pagination-next-button {
  background-color: transparent;
  cursor: pointer;
  margin: 0 0.7rem;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
  transition: color 0.3s ease, transform 0.3s ease;
}

.pagination-next-button:hover,
.pagination-prev-button:hover {
  color: #f06739;
}

.pagination-next-button:disabled,
.pagination-prev-button:disabled {
  color: #ffffff;
  opacity: 0.4;
  cursor: initial;
}

.go-button {
  background-color: #2a2a2a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  margin: 5px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.go-button:hover {
  background-color: #f06739;
}

.pagination-goto {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

/* Chrome, Safari, Edge */
.pagination-goto input[type="number"]::-webkit-inner-spin-button,
.pagination-goto input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.pagination-goto input[type="number"] {
  -moz-appearance: textfield;
}

.pagination-goto span {
  font-size: smaller;
  padding-top: 0.2rem;
}

.pagination-goto input {
  width: 40px;
  padding: 4px 6px;
  border: 1.5px solid #313131;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.pagination-goto input:focus {
  outline: none;
}

.pagination-ellipsis {
  padding-bottom: 0.3rem;
}
