.board-page {
  background-color: transparent;
  background-color: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(2px);
  margin: 1rem 3rem;
  border-radius: 0.7rem;
}

.board-page h2 {
  font-size: max(1.5rem, 3.5vw);
  text-align: center;
  color: #f06739;
  border-bottom: 2.5px solid white;
  margin: 2rem 5rem;
  padding-top: 3rem;
}

.board-page h3 {
  font-size: max(1.3rem, 2.5vw);
  text-align: center;
  color: #f06739;
  font-weight: 600;
  margin-bottom: 1rem;
}

.board-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.member-card {
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  transition: 0.3s ease;
  width: 20vw;
  min-height: 350px;
}

.member-card img {
  width: max(13vw, 70px);
  height: max(13vw, 70px);
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
}

.subboard .member-card img {
  width: max(11vw, 70px);
  height: max(11vw, 70px);
}

.member-card p {
  font-size: min(1.3rem, 4vw);
}

.member-card h4 {
  font-weight: 400;
  font-size: min(1rem, 2.7vw);
}

@media screen and (max-width: 750px) {
  .board-page {
    margin: 0.2rem 0.5rem;
  }

  .board-section {
    padding: 0 0.5rem;
  }

  .member-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: initial;
    padding: 1rem 0.2rem;
  }

  .member-card div {
    margin: auto;
  }

  .member-card:nth-child(even) {
    flex-direction: row-reverse;
  }
}
