.hero {
	position: relative;
	text-align: center;
	padding: 150px 20px;
	background-color: transparent;
	margin: 20px 0;
	overflow: hidden;
}

.hero-subtitle {
	background-color: transparent;
	font-size: 24px;
	color: #f0f0f0;
	margin-top: 10px;
	position: relative;
	z-index: 2;
}
