.notices-container {
  width: max(60%, 350px);
  margin: 0.5rem auto;
  padding: 0 0.5rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.notices-container h1 {
  margin-bottom: 1rem;
}

.notices-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.notice-item {
  background-color: #1e1e1e;
  border-radius: 6px;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.notice-item h4 {
  margin: 0 0 0.5rem 0;
  color: #f06739;
  font-size: 1rem;
}

.notice-item iframe {
  width: 100%;
  height: max(80vh, 70px);
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}

/* .pdfViewer .thumbnailView,
.thumbnailView {
  display: none;
} */

.mobile-notice-link {
  text-decoration: underline;
  color: #f06739;
}
