.notices-container {
  width: max(60%, 300px);
  margin: 0.5rem auto;
  padding: 0 0.5rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.notices-container h1 {
  margin-bottom: 1rem;
}

.notices-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.notice-item {
  background-color: #282828;
  border-radius: 6px;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notice-item h4 {
  margin: 0 0 0.5rem 0;
  color: #f06739;
  font-size: 1rem;
}

.notice-item iframe {
  width: 100%;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}

.pdfViewer .thumbnailView,
.thumbnailView {
  display: none !important;
}
