.reset-filter-container {
  display: flex;
  /* justify-content: center; */
  margin: 0 0 1rem;
  /* position: fixed;
  right: 1rem; */
  bottom: 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.reset-filter-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  color: #f06739;
  border: 2px solid #f06739;
  background: transparent;
  cursor: pointer;
  background-color: rgb(52, 52, 52);
  transition: all 0.1s ease-in-out;
  font-weight: 600;
  font-size: min(1rem, 3.5vw);
}

.reset-filter-btn:hover {
  background: #1a1a1a;
}

@media screen and (max-width: 560px) {
  .reset-filter-container {
    display: none;
  }
}
